


  <div class="container px-4 text-center">
    <a  class="btn btn-primary" [routerLink]="['/post/postOperation']">Add Post</a>
    <div class="row gx-5">

      <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of allPosts$|async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td><button [routerLink]="['postOperation']" [queryParams]="{ operation:'update' ,id:post.id}"
                        class="btn btn-secondary">Update </button></td>
                    <td><button [routerLink]="['postOperation']" [queryParams]="{ operation:'delete' ,id:post.id}"
                        class="btn btn-danger">Delete </button></td>

                  </tr>
            </tbody>
        </table>
      </div>
      <div class="col">
       <router-outlet></router-outlet>
      </div>
    </div>
  </div>